body {
    margin: 0;
    background: #70c5ce; /* sky blue */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameCanvas {
    background: #70c5ce;
    display: block;
    border: 2px solid black;
}
